<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Kết nối cơ sở dữ liệu PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://dpg-d2d0kq49c44c73b5jnlg-a.singapore-postgres.render.com:5432/mydb_4fhy</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">ViQ6ZiaX6GKylRh5U5RoeYF2Kg2BCXdt</property>

        <!-- Cấu hình dialect (PostgreSQL) -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Tự động tạo bảng từ các entity -->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <!-- Hiển thị câu lệnh SQL trong console -->
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.format_sql">true</property>-->

        <!-- Định nghĩa các lớp entity -->
        <mapping class="org.example.entity.Student"/>
        <mapping class="org.example.entity.Laptop"/>
    </session-factory>
</hibernate-configuration>